%h3 User
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}

.competitions
  %h4 My Competitions
  - @user.competitions.each do |competition|
    = link_to competition.name, competition_path(competition)
    %br

.competition_entries
  %h4 My Competition Entries
  - @user.competition_entries.each do |entry|
    = link_to user_competition_entry_path(@user, entry)
    %br

.challenge_entries
  %h4 My Challenge Entries
  - @user.challenge_entries.each do |entry|
    %p challenge
